$acacia_dark: #0C226B;
$acacia_light: #3688C2;

page-about {
  text-align: center;
}

ion-content{
  padding: 100px;
}

.button{
  color: white;
  margin: 15px;
  padding: 15px 32px;
  width: 50%;
  border: none;
  background-color: $acacia_light;
  cursor:pointer;
  box-shadow: 0 9px #999;
}

.button:active {
  background-color: $acacia_dark;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.table_container{
  display: inline-block;
  text-align: center;
  width: 90%;
  max-height: 75vh;
  overflow-x: scroll;
  margin-left: 10px;
}

.history_table{
  display: inline-block;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

th, td{
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th{
  background-color: $acacia_dark;
  color: white;
}

@media (max-height: 500px ){
  .button{
    font-size: 14px
  }
}
