ion-content {
text-align: center;
}

.main_title {
}

.margin{
  margin: 35px 35px;
}

.measurement{}

.value_container{
  background-color: yellow;
  display: inline-block;
  width: 120px;
  height: 30px;
}

.value{}
#ec_value{}
#temperature_value{}
.unit{}
.big_button{
  color: white;
  margin: 15px;
  padding: 15px 32px;
  width: 50%;
  border: none;
  background-color: blue;
  cursor:pointer;
}

#send_record{
background-color: grey;
}

#toggleStop{
  display: none;
}
